# Compiled class files
*.class

# Log files
logs/
*.log

# Maven target directory
target/

# IDEs and Editors #
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable file
.env
